img {
    cursor: pointer;
    width: 100px;
}
.images_container {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 20%;
    background-color: #f1f1f1;
    border-radius: 10px;

}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 70px;
    padding: 0 20px;
}

.logo a {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.open {
    display: flex !important;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        color: #fff
    }

    .menu li {
        margin: 10px 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}
@media (max-width: 480px) {
    .logo a {
        font-size: 1.5em;
    }

    .burger {
        display: block;
    }

    .burger div {
        width: 20px;
    }
    .images_container {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 10% auto;
    }
}