name: truck_mate

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: psycopg2 prerequisites
        run: sudo apt-get install libpq-dev

      - name: Install backend dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        run: |
          cd truckMate
          python manage.py makemigrations
          python manage.py migrate

      - name: Run backend tests
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          cd truckMate
          python manage.py test truckMateApp.tests

      - name: Install frontend dependencies
        run: | 
          cd truck_mate_front
          npm ci

      - name: Install start-server-and-test
        run: npm install -D start-server-and-test

      - name: Start servers and run tests
        env:
          CI: true
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          cd truckMate
          python manage.py runserver &

          cd ../truck_mate_front
          nohup npm start &

          npx start-server-and-test start http://localhost:3000 cypress:run

