name: truck_mate

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: psycopg2 prerequisites
        run: sudo apt-get install libpq-dev

      - name: Install backend dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        run: |
          cd truckMate
          python manage.py makemigrations
          python manage.py migrate

      - name: Run backend tests
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          cd truckMate
          python manage.py test truckMateApp.tests

      - name: Install frontend dependencies
        run: | 
          cd truck_mate_front
          npm ci

      - name: Start the backend server
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          cd truckMate
          python manage.py runserver -v 3

      - name: Wait for the backend server to start
        run: sleep 5

      - name: Start the frontend server
        run: |
          cd truck_mate_front
          npm start

      - name: Wait for the frontend server to start
        run: sleep 10

      - name: Run cypress tests
        run: |
          cd truck_mate_front
          npm run cypress:run
